/.settings/
/.project

microprofile-service-a/.settings/
microprofile-service-a/target/
microprofile-service-a/.project
microprofile-service-a/.classpath

microprofile-service-b/.settings/
microprofile-service-b/target/
microprofile-service-b/.project
microprofile-service-b/.classpath

microprofile-common/.settings/
microprofile-common/target/
microprofile-common/.project
microprofile-common/.classpath

frontend-ng/node_modules/
