.card {
	width: 320px;
	margin: 5px;
	padding: 0;
}

.header {
	background-color: whitesmoke;
}

.service-down {
	background-color: red;
}

.mat-card-title {
	font-size: 1.1em;
}
.content {
	background-color: white;
}

.footer {
	width: 100%;
	text-align: center;
	background-color: whitesmoke;
}

.label {
	width: 100px;
	font-weight: bold;
}

.value {
	
}